.has-text-center {
    p {
        margin-inline: auto;
    }
}

.has-text-right {
    p {
        margin-left: auto;
    }
}

.has-color-accent {
    color: var(--color-accent);
}

.has-color-neutral-400 {
	color: var(--color-neutral-400);
}

.has-color-neutral-700 {
	color: var(--color-neutral-700);
}

.text {
    p + p {
        margin-top: var(--space-s);
    }
}

.has-font-accent {
    font-family: var(--font-family-accent);
}
